 <div align="center">
    <footer class="about-footer" role="contentinfo">
      <div class="container">
        <p>Designed and built with bootstrap and jQuery by <a target="_blank" href="http://about.me/tashuo">ta_shuo</a>.</p>
        <p>@copyright ta_shuo</p>
        <p>版权所有·违法必究</p>
      </div>
    </footer>
</div>

    <script src="__ROOT__/../bootstrap/js/bootstrap.min.js"></script>
    <script src="__ROOT__/js/main.js"></script>
    <!-- // <script src="http://10.0.0.19:8080/target/target-script-min.js"></script> -->

  </body>
</html>