  </div>
</div>
 <div align="center">
    <footer class="about-footer" role="contentinfo">
      <div class="container">
        <p>Designed and built with bootstrap and jQuery by <a target="_blank" href="http://about.me/tashuo">ta_shuo</a>.</p>
        <p>@copyright ta_shuo</p>
        <p>版权所有·违法必究</p>
      </div>
    </footer>
</div>

    <script src="__ROOT__/js/flipclock.min.js"></script>
    <script src="__ROOT__/js/imagesloaded.pkgd.min.js"></script>
    <script src="__ROOT__/js/masonry.pkgd.min.js"></script>
    <script src="__ROOT__/js/holder.js"></script>
    <script src="__ROOT__/js/main.js"></script>
    

  </body>
</html>